#ant specific
dist/
build/

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
!nbproject/build-impl.xml
!nbproject/jfx-impl.xml
manifest.mf

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

### Gradle ###
.gradle
/build/
gradle/
